* {
    /* background-color: #FFFBF0; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner_header {
    text-align: center;
    background-color: black;
}

a {
    text-decoration: none;
}








.timkiem {
    padding: 8px;
    border-radius: 10px;

}



.logo img {
    width: 100px;
    height: 100px;
}

.col-6 h1 {
    padding-top: 100px;
}

.menu-bar {
    background-color: FFFBF0;
    padding: 12px 0;
}

.menu-bar ul {
    display: flex;
    justify-content: space-between;
}

.menu-bar ul li a {
    color: black;
    font-size: 16px;
    margin-right: 6px;
}

nav {
    background-color: rgb(225, 223, 223);

}

/* login */

.user:hover .user-select {
    display: block;
}

.user-select {
    background-color: beige;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 2;
    border-radius: 2px;
    display: none;
}

.user::before {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    background-color: rebeccapurple;
    width: 100%;
}

.user-select {
    cursor: pointer;
    width: 100%;
    padding: 0 10px;
}

/* hover cho header */
.navbar-nav a:hover span {
    color: brown;
}

/* hover cho icon */
.navbar-nav d-flex a:hover span {
    color: brown;
}

.navbar-nav d-flex i:hover {
    color: brown;
}